doctype html
html
    head
        title Admin Dashboard
        link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
    div(class="admin-heading") 
        h1 Personal Blog
        a(href=`/admin/create`)
          button + Add
    ul
     each article in articles
      li #{article.title} 
       div(class="modify-buttons-group")
        a(href=`/admin/edit/${article.id}`)
           button Edit
        form
            input(type="hidden", name="id", value=article.id)
            button(type="submit" class="delete-btn"  data-id=article.id) Delete



script(type="text/javascript").
  const deleteButtons = document.querySelectorAll(".delete-btn");
  deleteButtons.forEach((button) => {
    button.addEventListener("click", function (e) {
      const id = e.target.dataset.id;
      fetch(`/admin/delete/${id}`, {
        method: "DELETE",
      })
    });
  });
  
